@import "./Variables.css";

.chat{
    width: 300px;
    height: calc(var(--cellHeight) * 8);
    border: 2px solid black;
    background-color: lightgrey;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin-left: 50px;
}

.msgContainer{
    height: 90%;
    width: 100%;
    max-height: 90%;
    overflow-x: scroll;
    padding: 5px;
}

.sendContainer{
    height: 10%;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 5px;
    border-top: 1px solid grey;
}

.sendButton{
    height: 65%;
    width: 25%;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
    background-color: #f6f6f6;
}

.msgInput{
    height: 65%;
    font-size: 18px;
    width: 70%;
    border-radius: 7px;
    padding-left: 5px;
    outline: none;
    border: 2px solid black;
}

.msg{
    margin-top: 10px;
    max-width: 80%;
    border-radius: 10px;
    padding: 2px;
    background-color: white;
}

.author{
    margin-left: auto;
    background-color: paleturquoise;
}

.msg:first-child{
    margin-top: 5px;
}

.msgHeader{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.msgAuthor{
    font-weight: bold;
    font-size: 18px;
}

.msgTime{
    font-size: 12px;
}

.msgText{
    padding: 5px;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.msgConnectContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.msgConnectContainer:first-child{
    margin-top: 5px;
}

.msgConnect{
    font-size: 16px;
    font-weight: bold;
}

