@import "./Variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    width: calc(var(--cellWidth) * 8 );
    height: calc(var(--cellHeight) * 8 );
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: var(--cellWidth);
    height: var(--cellHeight);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cellDigit {
    position: absolute;
    top: 0;
    left: var(--lettersOffset);
    font-weight: bold;
}

.cellLetter {
    position: absolute;
    bottom: 0;
    right: var(--lettersOffset);
    font-weight: bold;
}

.figure {
    width: var(--figureWidth);
    height: var(--figureHeight);
    position: relative;
}

.canTouch {
    cursor: pointer;
}

.canAttack {
    background-color: rgba(204, 18, 42, 0.9) !important;
    /*box-shadow: 0 0 10px 5px rgba(139, 0, 0, 0.6);*/
}

.available {
    width: calc(var(--cellWidth) / 2);
    height: calc(var(--cellHeight) / 2);
    border-radius: 50%;
    background-color: #ffff33;
    box-shadow: 0 0 10px 5px rgba(255, 255, 51, 0.7);
}

.selected {
    background-color: rgba(255, 255, 51, 0.6) !important;
    /*box-shadow: 0 0 10px 5px rgba(50, 205, 50, 0.8);*/
}

.black{
    /*background-color: #667792;*/
    background-color: #739552;
}

.white{
    /*background-color: #a2a9ba;*/
    background-color: rgba(235, 236, 208, 0.9);
}

.lost{
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--cellWidth) * 8 + 4px);
    border: 2px solid black;
    overflow: hidden;
    /*border-radius: 7px;*/
    background-color: lightgrey;
}

.lostFigure {
    width: 40px;
    height: 40px;
}

