.drawContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 400px;
    padding: 0 20px 0 20px;
}

.drawContainer h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.drawButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.drawButton {
    border-radius: 7px;
    cursor: pointer;
    height: 30px;
    padding: 2px 30px 2px 30px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: inherit;
    border: 2px solid black;
    transition: 0.3s linear;
}

.drawAgree {
    color: white;
    background-color: #0ba10b;
    border: 2px solid #0f7a0f;
}

.drawAgree:hover {
    color: #0ba10b;
    transition: 0.3s;
    background-color: white;
}

.drawReject {
    color: white;
    background-color: #d30909;
    border: 2px solid #d30909;
}

.drawReject:hover {
    transition: 0.3s;
    color: #d30909;
    background-color: white;
}