.sidebar {
    width: 300px;
    height: calc(var(--cellHeight) * 8);
    border: 2px solid black;
    background-color: lightgrey;
    display: flex;
    padding: 7px;
    flex-direction: column;
    border-radius: 7px;
    margin-right: 50px;
}

.sidebar h3 {
    font-size: 1.8rem;
    margin-top: 5px;
    text-align: center;
}

.green {
    color: #0ba10b;
    text-shadow: 1px 1px 2px rgba(11, 161, 11, 0.7);
}

.red {
    color: #d30909;
    text-shadow: 1px 1px 1px rgba(211, 9, 9, 0.7);
}

.sidebarButtons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.sidebarButton {
    width: 90%;
    font-size: 1.2rem;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}

.draw {
    color: white;
    background-color: #0ba10b;
    border: 2px solid #0f7a0f;
}

.draw:hover {
    color: #0ba10b;
    transition: 0.3s;
    background-color: white;
}

.giveUp {
    color: white;
    background-color: #d30909;
    border: 2px solid #9d0d0d;
}

.giveUp:hover {
    transition: 0.3s;
    color: #d30909;
    background-color: white;
}

.timerContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.timerItem {
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-bottom: 1px solid black;
}

.timerItem h2 {
    font-weight: normal;
}

.timerImg {
    width: 20px;
    height: 20px;
}